<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body style="background-color: rgb(88, 88, 88);height:100%;width:100%;">
<div style="width:100%;height:100px;text-align:center">
    <h1 style="color:white">Account Details</h2>
</div>
<div style="width:100%;height:400px;display:-webkit-flex">
    <div style="width:20%;height:100%;display:-webkit-inline-flex">
        <span></span>
    </div>
    <div style="width:60%;height:100%;background-color:rgb(220, 222, 220);border-radius:10px;border:2px solid rgb(0, 189, 12)">
        <div style="width:100%;height:25%;">
            <h2 style="text-align:center;text-decoration:underline;margin-bottom:-15px;">
                <span id="username">Username</span></h2>
            <h5 style="text-align:center;color:gray;margin-bottom:60px;"><span
                    id="username">Trader</span></h5>
        </div>
        <div style="width:100%;height:75%;display:-webkit-flex">
            <div style="width:40%;height:100%">
                <div style="width:100%;padding-left:25px;height:15%">
                    <h3 style="margin:0">Total Funds: <span
                            id="funds">XYZ</span></h3>
                </div>
                <div style="width:100%;padding-left:25px;height:15%">
                    <h3 style="margin:0">Number of trades: <span id="trades">XYZ</span>
                    </h3>
                </div>
                <div style="width:100%;padding-left:25px;height:15%">
                    <h3 style="margin:0">Active Sessions: <span
                            id="active">XYZ</span></h3>
                </div>
                <div style="width:100%;padding-left:25px;height:35%">
                    <h3 style="margin:0">Total Sessions: <span
                            id="total_t">XYZ</span></h3>
                </div>
                <div style="width:100%;padding-left:25px;bottom:0">
                    <a style="padding:10px 20px;background-color:rgb(0, 189, 12);text-align:center;border-radius:10px;border-color:black;appearance:button;color:black;text-decoration:none"
                       href="/logout">Logout</a>
                </div>
            </div>
            <div style="width:60%;height:100%">
                <div style="height:10%">
                    <h3 style="text-align:center;margin:0">Recent Trades</h3>
                </div>
                <div style="padding-right:15px;">
                    <table style="background-color:white;border-radius:5px;width:100%;padding:15px;height:80%">
                        <tr>
                            <th>Ticker</th>
                            <th>Trade Type</th>
                            <th>Volume</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td style="text-align:left" id="ticker0">V</td>
                            <td style="text-align:left" id="type0">BUY</td>
                            <td style="text-align:right" id="volume0">1</td>
                            <td style="text-align:right" id="price0">200.22
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left" id="ticker0">AAPL</td>
                            <td style="text-align:left" id="type1">BUY</td>
                            <td style="text-align:right" id="volume1">1</td>
                            <td style="text-align:right" id="price1">200.22
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left" id="ticker0">MSFT</td>
                            <td style="text-align:left" id="type2">BUY</td>
                            <td style="text-align:right" id="volume2">1</td>
                            <td style="text-align:right" id="price2">200.22
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left" id="ticker0">DIS</td>
                            <td style="text-align:left" id="type3">BUY</td>
                            <td style="text-align:right" id="volume3">1</td>
                            <td style="text-align:right" id="price3">200.22
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left" id="ticker0">INTC</td>
                            <td style="text-align:left" id="type4">BUY</td>
                            <td style="text-align:right" id="volume4">1</td>
                            <td style="text-align:right" id="price4">200.22
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%;bottom:0;text-align:-webkit-right">
                    <a style="padding:10px 20px;background-color:rgb(0, 189, 12);text-align:center;border-radius:10px;border-color:black;appearance:button;color:black;text-decoration:none;display:-webkit-inline-flex;margin:38px 15px 0 0"
                       href="/index">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div style="width:20%;height:100%;display:-webkit-inline-flex">
        <span></span>
    </div>
</div>
<br>
<br>

<script>
    var getJSON = function (url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function () {
            var status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
        };
        xhr.send();
    };

    var setTableRow = function (rowNum, trade) {
        var sid = trade.session_id;
        getJSON('/trades_sessions/' + sid.toString(),
            function (err, data) {
                if (err !== null) {
                    alert('Something went wrong, please refresh. ');
                } else {
                    ticker = data.ticker;
                    document.getElementById("ticker" + rowNum.toString()).innerHTML = ticker.toString();
                    document.getElementById("type" + rowNum.toString()).innerHTML = trade.trade_type.toString();
                    document.getElementById("volume" + rowNum.toString()).innerHTML = ticker.volume.toString();
                    document.getElementById("price" + rowNum.toString()).innerHTML = ticker.price.toString();
                }
            });
    };

    var bank = 0;
    var username = "";
    var total_sessions = 0;
    var active_sessions = 0;
    var number_of_trades = 0;

    getJSON('/user/',
        function (err, data) {
            if (err !== null) {
                alert('Something went wrong, please refresh. ');
            } else {
                bank = data.bank;
                username = data.username;
                document.getElementById("funds").innerHTML = bank.toString();
                document.getElementById("username").innerHTML = username
            }
        });

    getJSON('/trades_sessions/',
        function (err, data) {
            if (err !== null) {
                alert('Something went wrong, please refresh. ');
            } else {
                total_sessions = data.length;
                document.getElementById("total_t").innerHTML = total_sessions.toString();
                for (var i = 0; i < total_sessions; i++) {
                    if (!data[i].is_finished) {
                        active_sessions += 1;
                        number_of_trades += data[i].num_trades;
                    }
                }
                document.getElementById("active").innerHTML = active_sessions.toString();
                document.getElementById("trades").innerHTML = number_of_trades.toString();
            }
        });

    getJSON('/trades/',
        function (err, data) {
            if (err !== null) {
                alert('Something went wrong, please refresh. ');
            } else {
                trades = data.sort(function (a, b) {
                    ta = new Date(a.time_stamp);
                    tb = new Date(b.time_stamp);
                    if (ta > tb) {
                        return 1
                    }
                    if (tb > ta) {
                        return -1
                    } else {
                        return 0
                    }
                });
                for (var i = 0; i < 5; i++) {
                    setTableRow(i, trades[i])
                }
            }
        });
</script>
</body>
</html>
