<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My History</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='sortable-theme-light.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='history_stylesheet.css') }}"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='sortable.min.js') }}"></script>
</head>
<body>
<h1> History </h1>
<h1> Welcome User : <span id="username"> </span></h1>

<div id="infomation">
</div>


<script>
    var getJSON = function (url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function () {
            var status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
        };
        xhr.send();
    };


    getJSON('/user',
        function (err, data) {
            if (err !== null) {
                alert('Something went wrong, please refresh. ');
            } else {
                var username = data.username;
                document.getElementById("username").innerHTML = username;
            }
        });


    getJSON('/trades_sessions',
        function (err, data) {
            if (err !== null) {
                alert('Something went wrong, please refresh.');
            } else {
                trades_sessions = data;
                var theHTML = "";
                for (let i in trades_sessions) {
                    theHTML += "<div class = 'trades_session' id ='trades_session_" + trades_sessions[i].session_id + "'>";
                    theHTML += "<div class='trades_sessions_header' >";
                    theHTML += "<span>" + 'Session ID: ' + trades_sessions[i].session_id + " </span>";
                    theHTML += "<span>" + 'Stock Name: ' + trades_sessions[i].ticker + " </span>";
                    theHTML += "<span>" + 'Paused : ' + trades_sessions[i].is_paused + " </span>";
                    theHTML += "<span>" + 'Finished : ' + trades_sessions[i].is_finished + " </span>";
                    theHTML += "<span>" + 'Start : ' + trades_sessions[i].start_time + " </span>";
                    theHTML += "<span>" + 'End : ' + trades_sessions[i].end_time + " </span>";
                    theHTML += "</div>";
                    theHTML += "<div id = 'trades_info_" + trades_sessions[i].session_id + "'>";
                    theHTML += "</div>";
                    theHTML += "</div>";
                    document.getElementById("infomation").innerHTML = theHTML;
                    getJSON('/trades',
                        function (err, data) {
                            if (err !== null) {
                                alert('Something went wrong, please refresh. ');
                            } else {
                                trades = data;
                                // console.log(trades);
                                const result = trades.filter(function (item) {
                                    return item.session_id == trades_sessions[i].session_id;
                                });
                                console.log(result);
                                if (result.length > 0) {
                                    var html_template = "";

                                    html_template += "<table class=" + "'sortable-theme-light'" + " data-sortable>";
                                    html_template += "<thead> <tr>  <th data-sortable = 'true'>Trade ID</th> <th>Session ID</th> <th>Trade Type</th> <th>Trade Price</th> <th>Trade Volume</th> <th>Time Stamp</th> </tr> </thead>";
                                    html_template += "<tbody>";
                                    for (let i in result) {
                                        html_template += "<tr>";
                                        html_template += "<td>" + result[i].trade_id + "</td>";
                                        html_template += "<td>" + result[i].session_id + "</td>";
                                        html_template += "<td>" + result[i].trade_type + "</td>";
                                        html_template += "<td>" + result[i].price + "</td>";
                                        html_template += "<td>" + result[i].volume + "</td>";
                                        html_template += "<td>" + result[i].time_stamp.replace('T', " ") + "</td>";
                                        html_template += "</tr>";
                                    }
                                    html_template += "</tbody> <tfoot> </tfoot> </table>";
                                    document.getElementById('trades_info_' + trades_sessions[i].session_id).innerHTML = html_template;
                                    Sortable.init()
                                }
                            }
                        });
                }
            }
        });
</script>

</body>
</html>

