<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoTrade Web</title>
</head>
<body style="margin-top:0;margin-left:0;margin-right:0; background-color: rgb(88, 88, 88);">
<div style="height:20%;background-color:black;width:100%;margin:none;display:-webkit-inline-flex">
    <div style="width:20%;text-align:center;margin:5px">
        <a href="/dashboard" style="font-size:24px;color:rgb(0, 189, 12);text-decoration:none">Dashboard</a>
    </div>
    <div style="width:20%;text-align:center;margin:5px">
        <a href="/account" style="font-size:24px;color:rgb(0, 189, 12);text-decoration:none">Account</a>
    </div>
    <div style="width:20%;text-align:center;margin:5px">
        <a href="/history" style="font-size:24px;color:rgb(0, 189, 12);text-decoration:none">History</a>
    </div>
    <div style="width:20%;text-align:center;margin:5px">
        <a href="/statistics" style="font-size:24px;color:rgb(0, 189, 12);text-decoration:none">Statistics</a>
    </div>
    <div style="width:20%;text-align:center;margin:5px">
        <a href="/logout" style="font-size:24px;color:rgb(0, 189, 12);text-decoration:none">Logout</a>
    </div>
</div>
<div style="height:80%;width:100%">
    <div style="width:33%;height:100%;display:-webkit-inline-flex">
    </div>
    <div style="width:33%;height:100%;margin:0;display:inline-block;text-align:center;margin-top:15%">
        <div>
            <h2 style="color:white">Welcome To the AutoTrader Web app</h2>
        </div>
        <div style="background-color:rgb(220, 222, 220);width:100%;border-radius:10px;border:2px solid rgb(0, 189, 12);">
            <div style="text-align:center;margin:10px">
                <a style="padding:10px 20px;background-color:rgb(0, 189, 12);text-align:center;border-radius:10px;border-color:black;appearance:button;color:black;text-decoration:none;display:-webkit-inline-flex;" href="/login">Login</a>
            </div>
            <div style="text-align:center;margin:10px">
                <a style="padding:10px 20px;background-color:rgb(0, 189, 12);text-align:center;border-radius:10px;border-color:black;appearance:button;color:black;text-decoration:none;display:-webkit-inline-flex;" href="/register">Register</a>
            </div>
        </div>
    </div>
    <div style="width:33%;height:100%;display:-webkit-inline-flex">
        <span></span>
    </div>
</div>

<!--a href="/api">api</a-->
</body>
</html>
